:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-with-opacity: hsl(0, 0%, 0%);
  --main-font: 'Kumbh Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}



.header-user:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}

.header-img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

.header-img {
  display: flex;
  gap: 2rem;
}

.header-cart-counter{
  width: 20px;
  height: 13px;
  background-color: var(--Orange);
  position: relative;
  bottom: 2.2rem;
  left: 1rem;
  border-radius: 16px;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.header {
  width: 80%;
  margin: auto;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Grayish-blue);
}

.header-categories ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-categories li {
  margin: 0 1rem;
  height: 4rem;
}

.header-categories a {
  text-decoration: none;
  color: var(--Grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
}

.header-categories a:hover {
  color: var(--Very-dark-blue);
}

.header-categories ul li:hover {
  border-bottom: 5px solid var(--Orange);
}

.header-categories {
  display: flex;
  margin-right: 12rem;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.product {
  width: 90%;
  height: 30rem;
  margin: 3rem auto auto auto;
}

.product-container {
  width: 75%;
  height: 90%;
  margin: auto;
  margin-top: 1.5rem;
  align-items: center;
  display: flex;
}

.product-visual {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.product-img {
  display: flex;
  justify-content: center;
}

.product-img img{
  border-radius: 5%;
  width: 100%;
  height: 22rem;
}

.product-thumbnail {
  height: 70px;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product-thumbnail img{
  object-fit: cover;
  border-radius: 10%;
  display: flex;
  cursor: pointer;
}

.thumbnail-img {
  opacity: 1;
  border: none;
  border-radius: 10%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.product-description {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.product-description-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.product-description-title p{
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: small;
  color: var(--Orange);
}

.product-description-title h1{
  font-size: 40px;
}

.product-description-review {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 30px;
  background-color: var(--Light-grayish-blue);
  border-radius: 10px;
  margin: 0.3rem 0;
}

.product-description-review img {
  width: 16px;
  height: 16px;
}

.product-description-review p{
  margin-left: 16px;
  font-size: 0.6rem;
}

.product-description-text {
  font-size: small;
  color: var(--Dark-grayish-blue);
}

.new-price {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 10px;
}

.discount-price {
  padding: 3px 5px;
  background: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 5px;
  font-size: smaller;
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

.old-price p{
  color: var(--Grayish-blue);
  text-decoration: line-through;
}

.counter {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--Light-grayish-blue);
  border-radius: 5px;
  cursor: pointer;
}

.counter p {
  cursor: default;
}

.counter-plus {
  padding: 0.6rem;
  display: flex;
  align-items: center;
}


.counter-minus-container{
  display: flex;
}

.counter-minus{
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

.add-to-cart {
  width: 100%;
  background-color: var(--Orange);
  border-radius: 5px;
  color: white;
  gap: 6px;
  cursor: pointer;
}

.add-to-cart:hover{
  opacity: 0.7;
}

.add-to-cart img{
filter: brightness(0) invert(1);
}

.product-count {
  height: 2.5rem;
  display: flex;
  margin-top: 1.5rem;
  gap: 16px;
}

.product-count img:hover {
  opacity: 0.7;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart img{
  width: 16px;
  height: 16px;
}

.reviews {
  width: 90%;
  height: 32rem;
  margin: auto;
}

.reviews-container {
  width: 70%;
  height: 90%;
  margin: auto;
  margin-top: 2rem;
}

.reviews-title {
  display: flex;
  justify-content: space-between;
}

.add-review-button {
  background-color: var(--Orange);
  border-radius: 5px;
  color: white;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  position: relative;
  top: 0.3rem;
}

.add-review-button:hover {
  opacity: 0.7;
}

.user-review {
  display: flex;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.user-text {
  width: 75%;
}

.user-reviews {
  margin-top: 1rem;
  width: 75%;
}

.user-stars {
  margin-top: 0.5rem;
}

.review-headline {
  margin-top: 0.5rem;
  
}

.written-review {
  margin-top: 0.7rem;
  color: var(--Dark-grayish-blue);
  font-size: small;
}

.add-review {
  width: 65%;
  height: 32rem;
  margin: auto;
}

.add-review-container {
  height: 90%;
  width: 75%;
  margin-top: 1.5rem;
}

.headline {
  display: flex;
  flex-direction: column;
}

.WrittenReview {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.WrittenReview input {
  height: 100px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 0.7rem ;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.overall-container {
  margin: 1rem auto;
}

.headline-container input{
  margin-top: 0.7rem;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
  height: 40px;
}

.add-review-container h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.headline-container input {
  padding-left: 0.7rem;
}

.WrittenReview input {
  padding-left: 0.7rem;
  padding-bottom: 4rem;
}

.WrittenReview-input {
  padding-left: 0.7rem;
  padding-bottom: 4rem;
}

.review-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 2rem;
}

.review-cancel:hover {
  opacity: 0.7;
}

.review-submit:hover {
  opacity: 0.7;
}

.review-buttons button{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 7px;
  border: 0;
  color: white;
}

.review-cancel {
  background-color: var(--Dark-grayish-blue);
  cursor: pointer;
}

.review-submit {
  cursor: pointer;
  background-color: var(--Orange);
}

.review-actions {
  width: 20%;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.review-actions a{
  text-decoration: underline;
  cursor: pointer;
  height: min-content;
}

.user-review-content {
  display: flex;
  width: 80%;
}

.user-text {
  margin-left: 1rem;
}


.user-star {
  width: 24px;
  height: 24px;
}